/* Start Selection */
::selection {
    background-color: red;
    color: black;
}
/* End Selection */

/* Start Button To Go Top */
.btn-go-to-top a {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
}
/* End Button To Go Top */

/* Start Scroll Custimization  */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* End  Scroll Custimization*/




/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    padding: 10px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container .logo h1 {
    text-transform: capitalize;
    color: white;
}

header .container .logo h1 span {
    color: red;
    font-weight: bold;
}


header .container ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header .container ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header .container ul li a:hover {
    color: red;
}

header .container .control {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .container .control .search {
    border-right: 2px solid #777;
    padding: 0 15px 0 0;
}

header .container .control .lang-wrapper label i {
    color: red;
    margin-right: 5px;
} 

select {
    background: none;
    border: none;
    outline: none;
    color: white;
}

option {
    color: black;
}

header .container .control .btn {
    width: 120px;
    height: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    margin-left: 15px;
    color: white;
    text-transform: uppercase;
    background-color: black;
    border: 3px solid red;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}

header .container .control button:hover {
    background-color: red;
    color: black;
}

i {
    color: white;
}

/* End Header */

/* Start Main => Hero Section */

.hero {
    background-image: linear-gradient(to right , rgba(0 , 0, 0 , 0.9) 0% , rgba(0,0,0,0.5 ) 100% ) , url(../images/hero-bg.jpg) ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero h1 {
    text-transform: capitalize;
    color: red;
}

.hero p {
    color: white;
    font-size: 4em;
    text-transform: capitalize;
    font-weight: 800;
    width: 640px;
}

.hero p span {
    color: red;
}

.hero .main-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.hero .main-wrapper .badge-wrapper {
    display: flex;
    gap: 10px;
}

.hero .main-wrapper .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    font-weight: 600;
}

.hero .main-wrapper .badge-fill {
    background-color: white;
    color: black;
    width: 60px;
    height: 10px;
    padding: 12px;

}
.hero .main-wrapper .badge-outline {
    border: 2px solid white;
    width: 40px;
    height: 10px;
    padding: 11px;
    color: white;

}

.hero .main-wrapper .ganre-wrapper {
    display: flex;
    gap: 10px;
}

.hero .main-wrapper .ganre-wrapper a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.hero .main-wrapper .ganre-wrapper a:hover {
    color: red;
}

.hero .main-wrapper .date-time {
    display: flex;
    gap: 20px;
}

.hero .main-wrapper .date-time i {
    color: red;
    margin-right: 2px;
}

.hero .main-wrapper .date-time time {
    color: white;
}

.hero .watchnow .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    color: white;
    text-transform: uppercase;
    background-color: black;
    border: 3px solid red;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}
.hero .watchnow .btn i {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.hero .watchnow .btn:hover {
    background-color: red;
    color: black;
}
.hero .watchnow .btn:hover i {
    color: black;
}

/* End Main => Hero Section */


/* Start Main => Updating Section */

.upcoming {
    padding: 80px 0;
    background-image:   url(../images/upcoming-bg.png);
    height: 100vh;
}


.upcoming .container .upcoming-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upcoming .container .upcoming-heading .info p {
    color: red;
    margin-bottom: 15px;

}

.upcoming .container .upcoming-heading .info h1 {
    margin: 0;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3em;
}

.upcoming .container .upcoming-heading .actions button {
    background-color: black;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    border: none;
}

.upcoming .container .upcoming-heading .actions button:hover {
    border: 2px solid red;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.upcoming .container .movies {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    gap: 70px;
}

.upcoming .container .movies .movie-card {
    width: 225px;
    height: 100px;
    margin-top: 50px;

}


.upcoming .container .movies .movie-card img {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s;
    -webkit-transition: 1s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.upcoming .container .movies .movie-card img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    margin-bottom: 10px;
}

.upcoming .container .movies .movie-card .movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.upcoming .container .movies .movie-card .movie-info h3 {
    color: white;
    text-transform: capitalize;
    font-weight: 800;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}

.upcoming .container .movies .movie-card .movie-info h3:hover {
    color: red;
}

.upcoming .container .movies .movie-card .movie-info .date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.upcoming .container .movies .movie-card .movie-info .date .movie-date {
    color: red;
}

.upcoming .container .movies .movie-card .movie-info .date i {
    color: red;
}

.upcoming .container .movies .movie-card .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upcoming .container .movies .movie-card .details .movie-quality {
    color: white;
    padding: 5px 7px ;
    border: 3px solid white;
    font-weight: bold;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.upcoming .container .movies .movie-card .details i {
    color: red;
    margin-right: 5px;
}

.upcoming .container .movies .movie-card .details time {
    color: red;
}







